<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>form edit comments</h1>
		<form action="/comments/<%= comment.id %>?_method=PATCH" method="post">
			<div>
				<label for="text">comment</label>
				<textarea name="text" id="" cols="30" rows="10"><%= comment.text %></textarea>
			</div>
			<div>
				<button type="submit">Kirim</button>
			</div>
		</form>
		<a href="/comments">kembali</a>
	</body>
</html>
