<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h1>comment id: <%= comment.id %></h1>
		<h1>comment username: <%= comment.username %></h1>
		<h1>comment text: <%= comment.text %></h1>
        <a href="/comments">Kembali</a>
	</body>
</html>
